@charset "UTF-8";
body{
    
    height: 100vh;
    background-attachment: fixed;
    background: black url('imagens/wallpaper002.jpg') center center no-repeat fixed ;
    background-size: cover;
}
main{
    background-color: azure;
    max-width: 700px;
    margin: auto;
    border: 1px solid blue;
    border-radius: 15px;
   
}
main > p{
    padding: 18px;
    text-align: justify;
    text-indent: 10px;
    font-size: larger;
}
main > h1{
    text-align: center;
}