@charset "UTF-8";
header{
 text-align: center;
 font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
 background-color: black;
 margin: 0px;
}
header > h1{
    color: pink;

}
header> p{
    color: azure;
    font-size: 2em;
}

a{
    color: red;
    font-weight: bolder;
   font-size: 3em;
   text-decoration: none;
}
a:hover{
    text-decoration: underline;
    color: aqua;
}
.mg{
    background-color: rgba(0, 0, 0, 0.625);
    color: white;
    box-shadow: inset 6px 6px 13px 0px rgba(0, 0, 0, 0.456);
    background-attachment: fixed;
}
.m{
    
    font-weight: bolder;
    font-size: 3em;

}
#imagem{
    background-image: url(imagens/img.png);
    background-size: cover;
    image-resolution: 100vh;
    

}
select#imagem{
    background-attachment: fixed;
}
.w{
    background-color: darkgray;
}